<!DOCTYPE html>
<html>
  <head>
    <title>Title goes here</title>
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/stylesheets/style.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
